/*======================================
  WEB FONTS
  ======================================*/

@font-face {
  font-family: 'Untitled Regular';
  src: url('fonts/untitled-sans-web-regular.woff') format('woff');
}

@font-face {
  font-family: 'Untitled Regular Italic';
  src: url('fonts/untitled-sans-web-regular-italic.woff') format('woff');
}

@font-face {
  font-family: 'Untitled Medium';
  src: url('fonts/untitled-sans-web-medium.woff') format('woff');
}

@font-face {
  font-family: 'Untitled Medium Italic';
  src: url('fonts/untitled-sans-web-medium-italic.woff') format('woff');
}

@font-face {
  font-family: 'Untitled Bold';
  src: url('fonts/untitled-sans-web-bold.woff') format('woff');
}


/*======================================
  BASE STYLES
  ======================================*/

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
}

body {
  background-color: #4A1F5B;
  color: #fff;
  font-family: 'Untitled Regular';
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  margin: 0;
  padding: 0;
  font-size: 2.25rem;
  letter-spacing: -0.025rem;
  line-height: 3.1rem;
}

h1 {
  margin: 45px 0 0;
  /* padding: 0; */
  font-family: 'Untitled Bold';
  font-size: 6.5rem;
  letter-spacing: -0.2rem;
  line-height: 6.7rem;
  overflow: visible;
}

h2 {
  font-family: 'Untitled Bold';
  font-size: 1.6rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

h3 {
  margin: 0;
  padding: 0 0 30px 0;
  font-family: 'Untitled Bold';
  font-size: 3.3rem;
  letter-spacing: -0.03rem;
}

h4 {
  font-family: 'Untitled Bold';
  letter-spacing: -.03rem;
  font-size: 2.6rem;
}



/*======================================
  LAYOUT STYLES
  ======================================*/

header {
  background: linear-gradient(to right, rgba(74,31,91,0.3), rgba(74,31,91,0.3)),
              url('img/coop/coop-header.jpg') no-repeat center;
  background-size: cover;
  padding: 40px 8% 32px;
}

img {
  width: 100%;
  display: block;
}

.intro {
  padding: 0px 8%;
}

h2 {
  margin: 14% 0 25px;
  color: #9e6bae;
}

.scope ul {
  margin: 25px 0 16%;
}

.scope li {
  font-family: 'Untitled Medium';
  font-size: 1.4rem;
  line-height: 2.2rem;
  display: inline-block;
  padding: 0 10px 5px 0;
  color: #9e6bae;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.is-half {
  width: 50%;
}

.animated-svg {
  margin: auto;
  padding: 15% 0;
  background-color: #007934;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animated-svg img {
  width: 55%;
}

.callout {
  padding: 0;
  background-color: #007934;
}
.callout-blurb {
  /* font-size: 1.6rem; */
  padding: 13% 8% 9%;
}

.callout-blurb h3 {
  text-align: center;
}

.callout-blurb a {
  color: #92C728;
}

.callout-image {
  background: url('img/coop/temp-oranges.jpg');
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  padding: 12% 0;
  margin: 15px;
  border-radius: 5px;
}

.callout-image img {
  width: 35%;
}

.credits {
  margin: 24px 8% 0;
  padding: 0 0 25px;
  /* font-family: 'Untitled Regular';
  font-size: 0.5rem;
  line-height: 1.15rem; */
  text-align: center;
  border-bottom: 1px solid #9e6bae;
}

.credits p {
  font-size: 1.2rem;
  letter-spacing: 0.01rem;
  line-height: 1.8rem;
  padding: 0;
}

.cta {
  padding: 14% 8% 18%;
  text-align: center;
  margin: auto;
}

.cta-email a.button {
  font-family: 'Untitled Bold';
  font-size: 2.8rem;
  letter-spacing: -0.03rem;
  display: inline-block;
  padding: 20px 65px;
  margin: 30px 0 20px;
  border: 4px solid #9e6bae;
  border-radius: 500px;
  transition: 0.25s;
}

.button:hover {
  background-color: #542368;
}

.cta-email p.small {
  font-size: 1.5rem;
  line-height: 2.1rem;
  letter-spacing: -0.03rem;
}

.cta-email p a.about-link {
  color: #9e6bae;
}

.back,
.next {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba(30,30,30,0.9), rgba(30,30,30,0.9)),
              url(img/coop/coop-header.jpg) no-repeat center;
  background-size: cover;
}

.back:hover,
.next:hover {
  background: linear-gradient(to right, rgba(30,30,30,0.95), rgba(30,30,30,0.95)),
              url(img/coop/coop-header.jpg) no-repeat center;
  background-size: cover;
}

.back h4,
.next h4 {
  margin: 0 20px;
}

.back img,
.next img {
  height: 35px;
  width: 35px;
}


/*======================================
  NAVIGATION
  ======================================*/

.logo img{
width: 150px;
}

nav {
  margin: 0;
  padding: 0;
  font-family: 'Untitled Medium';
}

nav li {
  font-size: 1.8rem;
  padding-bottom: 18px;
}

nav a {
  transition: 0.2s;
}

nav a:hover {
  opacity: 0.8;
}


/*======================================
  FOOTER
  ======================================*/

footer {
  background-color: rgb(30,30,30);
  padding: 30px 0 40px;
  text-align: center;
  font-size: 1.1rem;
  font-family: 'Untitled Regular';
}


/*======================================
  UNIVERSAL FLOATS
  ======================================*/

/* Logo/Nav Float */

.logo {
  width: 63%;
  float: left;
}

nav {
  width: 21%;
  float: right;
}

/* Float Clearfix */

.float:after {
  content: "";
  display: table;
  clear: both;
}


/*======================================
  MEDIA QUERIES / LEVEL 350
  ======================================*/

@media only screen and (min-width: 350px) {

h2 {
  margin-top: 14%;
}

.scope ul {
  margin-bottom: 16%;
}

p {
  font-size: 2.25rem;
}

/* .blurb p {
  font-size: 2.45rem;
  letter-spacing: -0.025rem;
  line-height: 3.1rem;
} */

}

/*======================================
  MEDIA QUERIES / LEVEL 450
  ======================================*/

@media only screen and (min-width: 450px) {

h2 {
  margin-top: 12.333%;
}

h3 {
  font-size: 3.759rem;
  letter-spacing: -0.06rem;
}

p {
  font-size: 2.2917rem;
}

.blurb p {
  font-size: 2.556rem;
  letter-spacing: -0.026rem;
  line-height: 3.274rem;
}

.scope ul {
  margin-bottom: 14%;
}


}

/*======================================
  MEDIA QUERIES / LEVEL 550
  ======================================*/

@media only screen and (min-width: 550px) {

h2 {
  margin-top: 10.67%;
}

h3 {
  font-size: 3.918rem;
  letter-spacing: -0.069rem;
}

p {
  font-size: 2.3334rem;
}

.blurb p {
  font-size: 2.663rem;
  letter-spacing: -0.028rem;
  line-height: 3.448rem;
}

.scope ul {
  margin-bottom: 12%;
}
}


/*======================================
  MEDIA QUERIES / LEVEL 650
  ======================================*/

@media only screen and (min-width: 650px) {

h1 {
  font-size: 6.5rem;
  letter-spacing: -0.2rem;
  line-height: 6.7rem;
}

h2 {
  font-size: 1.7rem;
  letter-spacing: 0.25rem;
  margin: 9% 0 25px;
}

h3 {
  font-size: 4.077rem;
  letter-spacing: -0.079rem;
}

h4 {
  font-size: 2.6rem;
  letter-spacing: -0.03rem;
}

p {
  font-size: 2.3751rem;
  letter-spacing: -0.025rem;
  line-height: 3.1rem;
}

.blurb p {
  font-size: 2.769rem;
  letter-spacing: -0.029rem;
  line-height: 3.622rem;
}

/* h3 {
  font-size: 3.6rem;
  letter-spacing: -.05rem;
  } */

.scope ul {
  margin: 25px 0 10%;
}

.scope li {
  font-size: 1.7rem;
}

.callout-blurb {
  padding: 10%;
}

.cta {
  padding: 9% 0% 11%;
  max-width: 550px;
}

/* Back/Next Float */

.back {
  width: 50%;
  float: left;
}

.next {
  width: 50%;
  float: right;
}

}

/*======================================
  MEDIA QUERIES / LEVEL 750
  ======================================*/

@media only screen and (min-width: 750px) {

  h1 {
    font-size: 6.833rem;
    letter-spacing: -0.2055rem;
    line-height: 7.114rem;
  }

  h2 {
    font-size: 1.757rem;
    letter-spacing: 0.2643rem;
    margin-top: 8.889%;
  }

  h3 {
    font-size: 4.236rem;
    letter-spacing: -0.089rem;
  }

  /* h4 {
    font-size: 2.6rem;
    letter-spacing: -0.03rem;
  } */

  p {
    font-size: 2.4168rem;
    letter-spacing: -0.025rem;
    line-height: 3.2rem;
  }

  .blurb p {
    font-size: 2.875rem;
    letter-spacing: -0.03rem;
    line-height: 3.796rem;
  }

  /* h1 {
  margin-right: 5%;
}

h3 {
  font-size: 4rem;
  letter-spacing: -.08rem;
} */

.callout-blurb {
  padding: 10% 14%;
}

}

/*======================================
  MEDIA QUERIES / LEVEL 850
  ======================================*/

@media only screen and (min-width: 850px) {

h1 {
  font-size: 7.166rem;
  letter-spacing: -0.211rem;
  line-height: 7.528rem;
}

h2 {
  font-size: 1.814rem;
  letter-spacing: 0..2786rem;
  margin-top: 8.778%;
}

h3 {
  font-size: 4.395rem;
  letter-spacing: -0.099rem;
}

/* h4 {
  font-size: 2.6rem;
  letter-spacing: -0.03rem;
} */

p {
  font-size: 2.4585rem;
  letter-spacing: -0.035rem;
  line-height: 3.3rem;
}

.blurb p {
  font-size: 2.982rem;
  letter-spacing: -0.032rem;
  line-height: 3.97rem;
}

}

/*======================================
  MEDIA QUERIES / LEVEL 950
  ======================================*/

@media only screen and (min-width: 950px) {

h1 {
  font-size: 7.5rem;
  letter-spacing: -0.2165rem;
  line-height: 7.942rem;
}

h2 {
  font-size: 1.871rem;
  letter-spacing: 0.2929rem;
  margin-top: 8.667%;
}

h3 {
  font-size: 4.554rem;
  letter-spacing: -0.108rem;
}

h4 {
  font-size: 2.8rem;
  /* letter-spacing: -0.03rem; */
}

p {
  font-size: 2.5002rem;
  letter-spacing: -0.04rem;
  line-height: 3.4rem;
}

.blurb p {
  font-size: 3.088rem;
  letter-spacing: -0.033rem;
  line-height: 4.144rem;
}

/* h1 {
  font-size: 7.5rem;
  line-height: 8rem;
  margin-right: 10%;
}

h2 {
  font-size: 2.0rem;
  letter-spacing: 0.3rem;
}

h3 {
  font-size: 4.4rem;
}

h4 {
  font-size: 2.8rem;
}

.blurb p {
  font-size: 3rem;
  letter-spacing: -0.06rem;
  line-height: 4rem;
} */



.scope ul {
  margin: 35px 0 10%;
}

.scope li {
  font-size: 1.9rem;
}

.callout {
  display: flex;
justify-content: center;
align-items: center;
}

/* Callout Float */

.callout-image {
  width: 40%;
  float: right;
  padding: 14% 0; /*This padding sets the height of parent div (unless .callout-blurb text runs long)*/
}

.callout-blurb {
  width: 60%;
  float: left;
  padding: 0 8%;
}

.callout-image img {
  width: 50%;
}

/* Image 50/50 float */

.float-50-left {
  width: 50%;
  float: left;
}

.float-50-right {
  width: 50%;
  float: right;
}

.cta {
  max-width: 700px;
}

/* Email Float */

/* .cta-email {
  width: 70%;
  padding-left: 6%;
  float: right;
}

.cta-image {
  width: 30%;
  float: left;
  display: flex;
  justify-content: center;
}

.cta-image img {
  max-height: 300px;
  max-width: 250px;
} */

}


/*======================================
  MEDIA QUERIES / LEVEL 1050
  ======================================*/

@media only screen and (min-width: 1050px) {

nav li {
  padding-bottom: 15px;
  font-size: 1.9rem;

}

h1 {
  font-size: 7.833rem;
  letter-spacing: -0.222rem;
  line-height: 8.356rem;
  margin-top: 120px;
}

h2 {
  font-size: 1.928rem;
  letter-spacing: 0.30725rem;
  margin-top: 8.556%;
}

h3 {
  font-size: 4.713rem;
  letter-spacing: -0.118rem;
}

p {
  font-size: 2.5419rem;
  letter-spacing: -0.045rem;
  line-height: 3.5rem;
}

.blurb p {
  font-size: 3.194rem;
  letter-spacing: -0.034rem;
  line-height: 4.318rem;
}

.cta-email p.small {
  font-size: 1.75rem;
  letter-spacing: -0.035;
}

/* Scope Float */

.blurb {
  float: left;
  width: 80%;
  padding-right: 7%;
  margin-bottom: 11%;
}

.scope {
  float: right;
  width: 20%;
}

.scope ul {
  margin: 8% 0 0;
}

.scope li {
  display: block;
  padding-bottom: 15px;
}

.animated-svg {
  padding: 12% 0;
}

.animated-svg img {
  width: 45%;
}

}

/*======================================
  MEDIA QUERIES / LEVEL 1150
  ======================================*/

@media only screen and (min-width: 1150px) {

h1 {
  font-size: 8.166rem;
  letter-spacing: -0.228rem;
  line-height: 8.77rem;
}

h2 {
  font-size: 1.985rem;
  letter-spacing: 0.322rem;
  margin-top: 8.445%;
}

h3 {
  font-size: 4.872rem;
  letter-spacing: -0.128rem;
}

p {
  font-size: 2.584rem;
  letter-spacing: -0.05rem;
  line-height: 3.6rem;
}

.blurb p {
  font-size: 3.3rem;
  letter-spacing: -0.035rem;
  line-height: 4.492rem;
}

.blurb {
  margin-bottom: 10.8%;
}

}

/*======================================
  MEDIA QUERIES / LEVEL 1250
  ======================================*/

@media only screen and (min-width: 1250px) {

h1 {
  font-size: 8.5rem;
  letter-spacing: -0.233rem;
  line-height: 9.184rem;
}

h2 {
  font-size: 2.042rem;
  letter-spacing: 0.3358rem;
  margin-top: 8.334%;
}

h3 {
  font-size: 5.031rem;
  letter-spacing: -0.137rem;
}

p {
  font-size: 2.625rem;
  letter-spacing: -0.055rem;
  line-height: 3.7rem;
}

.blurb p {
  font-size: 3.407rem;
  letter-spacing: -0.037rem;
  line-height: 4.666rem;
}

.blurb {
  margin-bottom: 10.6%;
}

.cta {
padding: 8.75% 0% 10.75%;
}

}


/*======================================
  MEDIA QUERIES / LEVEL 1350
  ======================================*/

@media only screen and (min-width: 1350px) {

h1 {
  font-size: 8.833rem;
  letter-spacing: -0.2385rem;
  line-height: 9.598rem;
}

h2 {
  font-size: 2.1rem;
  letter-spacing: 0.35rem;
  margin-top: 8.223%;
}

h3 {
  font-size: 5.19rem;
  letter-spacing: -0.147rem;
}

p {
  font-size: 2.667rem;
  letter-spacing: -0.06rem;
  line-height: 3.8rem;
}

header {
padding: 40px 8.75% 32px;
}

.intro {
  padding: 0px 8.75%;
}

.blurb p {
  font-size: 3.513rem;
  letter-spacing: -0.038rem;
  line-height: 4.84rem;
}

.blurb {
  padding-right: 9%;
  margin-bottom: 10.4%;
}

.scope ul {
  margin: 6% 0 0;
}

.scope li,
nav li {
  font-size: 2.1rem;
}

.cta {
padding: 8.5% 0% 10.5%;
}

}

/*======================================
  MEDIA QUERIES / LEVEL 1450
  ======================================*/

@media only screen and (min-width: 1441px) {

h1 {
  font-size: 9.133rem;
  letter-spacing: -0.244rem;
  line-height: 10.012rem;
  margin-right: 15%;
}

h2 {
  font-size: 2.156rem;
  letter-spacing: 0.3644rem;
  margin-top: 8.112%;
}

h3 {
  font-size: 5.349rem;
  letter-spacing: -0.157rem;
}

p {
  font-size: 2.709rem;
  letter-spacing: -0.065rem;
  line-height: 3.9rem;
}

header {
padding: 40px 9.5% 32px;
}

.intro {
  padding: 0px 9.5%;
}

.blurb p {
  font-size: 3.619rem;
  letter-spacing: -0.039rem;
  line-height: 5.014rem;
}

.blurb {
  margin-bottom: 10.2%;
}

.animated-svg {
  padding: 11% 0;
}

.animated-svg img {
  width: 40%;
}

.callout-image {
  padding: 10% 0;
}

.callout-image img {
  width: 45%;
}

.cta {
padding: 8.25% 0% 10.25%;
}

}

/*======================================
  MEDIA QUERIES / LEVEL 1550
  ======================================*/

@media only screen and (min-width: 1550px) {

h1 {
  font-size: 9.5rem;
  letter-spacing: -0.25rem;
  line-height: 10.426rem;
}

h2 {
  font-size:2.213rem;
  letter-spacing: 0.3787rem;
  margin-top: 8%;
}

h3 {
  font-size: 5.508rem;
  letter-spacing: -0.166rem;
}

h4 {
  /* font-size: 2.8rem; */
  /* letter-spacing: -0.03rem; */
}

p {
  font-size: 2.75rem;
  letter-spacing: -0.05rem;
  line-height: 4rem;
}

header {
padding: 40px 10.25% 32px;
}

.intro {
  padding: 0px 10.25%;
}

.blurb p {
  font-size: 3.726rem;
  letter-spacing: -0.041rem;
  line-height: 5.188rem;
}

.blurb {
  margin-bottom: 10%;
}

.cta {
padding: 8% 0% 9.75%;
}

}


/*======================================
  MEDIA QUERIES / LEVEL 1650
  ======================================*/

@media only screen and (min-width: 1650px) {

h1 {
  font-size: 9.833rem;
  letter-spacing: -0.255rem;
  line-height: 10.84rem;
}

h2 {
  font-size:2.27rem;
  letter-spacing: 0.393rem;
  margin-top: 7.89%;
}

h3 {
  font-size: 5.667rem;
  letter-spacing: -0.176rem;
}

h4 {
  /* font-size: 2.8rem; */
  /* letter-spacing: -0.03rem; */
}

p {
  font-size: 2.792rem;
  letter-spacing: -0.075rem;
  line-height: 4.1rem;
}

header {
padding: 40px 11% 32px;
}

.intro {
  padding: 0px 11%;
}

.intro {
  padding: 0 11%;
}

.blurb p {
  font-size: 3.832rem;
  letter-spacing: -0.042rem;
  line-height: 5.362rem;
}

.blurb {
  margin-bottom: 9.8%;
}

.callout-blurb {
  padding: 0 11%;
}

.cta {
padding: 7.75% 0% 9.5%;
}

}


/*======================================
  MEDIA QUERIES / LEVEL 1750
  ======================================*/

@media only screen and (min-width: 1750px) {

.callout-image {
  padding: 9% 0;
}

.callout-image img {
  width: 40%;
}

}


/*======================================
  MEDIA QUERIES / LEVEL 1950
  ======================================*/

@media only screen and (min-width: 1950px) {

.callout-image {
  padding: 8% 0;
}

.callout-image img {
  width: 35%;
}

.cta {
padding: 7% 0% 8.5%;
}

}
