/*======================================
  WEB FONTS
  ======================================*/

@font-face {
  font-family: 'Untitled Regular';
  src: url('fonts/untitled-sans-test-regular.woff') format('woff');
}

@font-face {
  font-family: 'Untitled Regular Italic';
  src: url('fonts/untitled-sans-test-regular-italic.woff') format('woff');
}

@font-face {
  font-family: 'Untitled Medium';
  src: url('fonts/untitled-sans-test-medium.woff') format('woff');
}

@font-face {
  font-family: 'Untitled Medium Italic';
  src: url('fonts/untitled-sans-test-regular-italic.woff') format('woff');
}

@font-face {
  font-family: 'Untitled Bold';
  src: url('fonts/untitled-sans-test-bold.woff') format('woff');
}


/*======================================
  BASE STYLES
  ======================================*/

* {
  box-sizing: border-box;
}

body {
  background-color: #4A1F5B;
  color: #fff;
  font-family: 'Untitled Regular';
  font-size: 1.25em;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  letter-spacing: -0.025rem;
  line-height: 2.2rem;
}

h1 {
  margin: 45px 0 0;
  /* padding: 0; */
  font-family: 'Untitled Bold';
  font-size: 4.5rem;
  letter-spacing: -0.2rem;
  line-height: 4.8rem;
  overflow: visible;
}

h2 {
  margin: 0;
  padding: 0 0 30px 0;
  font-family: 'Untitled Bold';
  font-size: 2.3rem;
  letter-spacing: -0.05rem;
}

h3 {
  font-family: 'Untitled Bold';
  letter-spacing: -.03rem;
  font-size: 1.8rem;
}

h3 {
  font-family: 'Untitled Bold';
  letter-spacing: -.03rem;
  font-size: 1.8rem;
}

h4 {
  font-family: 'Untitled Bold';
  font-size: 1rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

/*======================================
  LAYOUT STYLES
  ======================================*/

header {
  background: linear-gradient(to right, rgba(74,31,91,0.3), rgba(74,31,91,0.3)),
              url('img/coop/coop-header.jpg') no-repeat center;
  background-size: cover;
  padding: 40px 8% 32px;
}

img {
  width: 100%;
  display: block;
}

.container,
.intro {
  padding: 0px 8%;
}

.intro h4 {
  margin: 14% 0 25px;
  color: #9e6bae;
}

.scope ul {
  margin: 25px 0 16%;
}

.scope li {
  font-family: 'Untitled Medium';
  font-size: 0.7em;
  display: inline-block;
  padding: 0 10px 5px 0;
  color: #9e6bae;
}

.grid-wrap {
  display: flex;
  flex-wrap: wrap;
}

.logo-4x4 {
  width: 50%;
}

.callout {
  padding: 0;
}
.callout-blurb {
  /* font-size: 1.6rem; */
  padding: 10% 8%;
}

.callout-blurb h2 {
  text-align: center;
}

.callout-blurb a {
  color: #9e6bae;
}

.callout-image {
  background: url('img/coop/temp-oranges.jpg');
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  padding: 12% 0;
  margin: 15px;
  border-radius: 5px;
}

.callout-image img {
  width: 35%;
}

.credits {
  margin: 24px 8% 0;
  padding: 0 0 25px;
  /* font-family: 'Untitled Regular';
  font-size: 0.5rem;
  line-height: 1.15rem; */
  text-align: center;
  border-bottom: 1px solid #9e6bae;
}

.credits p {
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
  line-height: 1.15rem;
  padding: 0;
}

.cta {
  padding: 14% 8% 18%;
  text-align: center;
  margin: auto;
}

/* .cta-image {
 display: none;
} */

/* .cta img {
  height: 35px;
  width: 35px;
  margin: 20px auto 0;
} */

/* .email {
  padding: 0 8% 22%;
  text-align: center;
} */

.cta-email a.button {
  font-family: 'Untitled Bold';
  font-size: 1.8rem;
  letter-spacing: -0.05rem;
  display: inline-block;
  padding: 20px 65px;
  margin: 30px 0 20px;
  border: 4px solid #9e6bae;
  border-radius: 500px;
  transition: 0.25s;
}

.button:hover {
  background-color: #542368;
}

.cta-email span {
  font-size: 1.0rem;
}

.cta-email p a.about-link {
  color: #9e6bae;
}

.back,
.next {
  width: 100%;
  /* background-color: #000; */
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba(30,30,30,0.9), rgba(30,30,30,0.9)),
              url(img/coop/coop-header.jpg) no-repeat center;
  background-size: cover;
}

.back:hover,
.next:hover {
  background: linear-gradient(to right, rgba(30,30,30,0.95), rgba(30,30,30,0.95)),
              url(img/coop/coop-header.jpg) no-repeat center;
  background-size: cover;
}

.back h3,
.next h3 {
  margin: 0 20px;
}

.back img,
.next img {
  height: 35px;
  width: 35px;
}


/*======================================
  NAVIGATION
  ======================================*/

.logo img{
width: 150px;
}

nav {
  margin: 0;
  padding: 0;
  font-family: 'Untitled Medium';
}

nav li {
  font-size: 1.25rem;
  padding-bottom: 18px;
}

nav a {
  transition: 0.2s;
}

nav a:hover {
  opacity: 0.8;
}


/*======================================
  FOOTER
  ======================================*/

footer {
  background-color: rgb(30,30,30);
  padding: 30px 0 40px;
  text-align: center;
  font-size: 0.75rem;
  font-family: 'Untitled Regular';
}


/*======================================
  UNIVERSAL FLOATS
  ======================================*/

/* Logo/Nav Float */

.logo {
  width: 63%;
  float: left;
}

nav {
  width: 21%;
  float: right;
}

/* Float Clearfix */

.float:after {
  content: "";
  display: table;
  clear: both;
}


/*======================================
  MEDIA QUERIES / LEVEL 1
  ======================================*/

@media only screen and (min-width: 660px) {

  h2 {
  font-size: 2.8rem;
  letter-spacing: -.1rem;
  }

.blurb p {
  font-size: 2rem;
  letter-spacing: -0.02rem;
  line-height: 2.6rem;
}

.intro h4 {
  margin: 9% 0 25px;
}

.scope ul {
  margin: 25px 0 10%;
}

.callout-blurb {
  padding: 10%;
}

.cta {
  padding: 9% 0% 11%;
  max-width: 550px;
}

/* Back/Next Float */

.back {
  width: 50%;
  float: left;
}

.next {
  width: 50%;
  float: right;
}

}

/*======================================
  MEDIA QUERIES / LEVEL 2
  ======================================*/

@media only screen and (min-width: 769px) {

h1 {
  margin-right: 5%;
}

/* h2 {
font-size: 2.8rem;
letter-spacing: -.1rem;
} */

.callout-blurb {
  padding: 10% 12%;
}

}

/*======================================
  MEDIA QUERIES / LEVEL 3
  ======================================*/

@media only screen and (min-width: 961px) {

h1 {
  font-size: 5.25rem;
  line-height: 5.65rem;
  margin-right: 10%;
}

h2 {
  font-size: 3.25rem;
  letter-spacing: -.12rem;
}

.blurb p {
  font-size: 2.2rem;
  letter-spacing: -0.01rem;
  line-height: 3rem;
}

.intro h4 {
  /* margin: 9% 0 30px; */
  font-size: 1.25rem;
}

.scope ul {
  margin: 35px 0 10%;
}

.scope li {
  font-size: 1.25rem;
}

.callout {
  display: flex;
justify-content: center;
align-items: center;
}

/* Callout Float */

.callout-image {
  width: 40%;
  float: right;
  padding: 12.5% 0; /*This padding sets the height of parent div (unless .callout-blurb text runs long)*/
}

.callout-image img {
  width: 50%;
}

.callout-blurb {
  width: 60%;
  float: left;
  padding: 0 8%;
}

/* Image 50/50 float */

.float-50-left {
  width: 50%;
  float: left;
}

.float-50-right {
  width: 50%;
  float: right;
}

.cta {
  max-width: 700px;
}

/* Email Float */

/* .cta-email {
  width: 70%;
  padding-left: 6%;
  float: right;
}

.cta-image {
  width: 30%;
  float: left;
  display: flex;
  justify-content: center;
}

.cta-image img {
  max-height: 300px;
  max-width: 250px;
} */

}


/*======================================
  MEDIA QUERIES / LEVEL 4
  ======================================*/

@media only screen and (min-width: 1025px) {

nav li {
  padding-bottom: 15px;
}

h1 {
  font-size: 5.5rem;
  line-height: 6.1rem;
  margin-top: 120px;
}

/* Scope Float */

.blurb {
  float: left;
  width: 80%;
  padding-right: 7%;
  margin-bottom: 12%;
}

.scope {
  float: right;
  width: 20%;
}

.scope ul {
  margin: 8% 0 0;
}

.scope li {
  display: block;
  padding-bottom: 15px;

}

}


/*======================================
  MEDIA QUERIES / LEVEL 5
  ======================================*/

@media only screen and (min-width: 1300px) {

h1 {
  font-size: 6.5rem;
  line-height: 6.9rem;
}

h2 {
  font-size: 3.75rem;
  letter-spacing: -.14rem;
}

/* h2 {
  font-size: 2.7em;
  letter-spacing: -.1rem;
} */

p {
  line-height: 2.45rem;
}

.blurb {
  padding-right: 10%;
}

.scope ul {
  margin: 6% 0 0;
}
}

/*======================================
  MEDIA QUERIES / LEVEL 6
  ======================================*/

@media only screen and (min-width: 1441px) {

h1 {
  margin-right: 15%;
}

.callout-image {
  padding: 10% 0;
}

.callout-image img {
  width: 45%;
}

.cta {
max-width: 850px;
}

}
