/*======================================
  WEB FONTS
  ======================================*/

@font-face {
  font-family: 'Untitled Regular';
  src: url('fonts/untitled-sans-test-regular.woff') format('woff');
}

@font-face {
  font-family: 'Untitled Regular Italic';
  src: url('fonts/untitled-sans-test-regular-italic.woff') format('woff');
}

@font-face {
  font-family: 'Untitled Medium';
  src: url('fonts/untitled-sans-test-medium.woff') format('woff');
}

@font-face {
  font-family: 'Untitled Medium Italic';
  src: url('fonts/untitled-sans-test-regular-italic.woff') format('woff');
}

@font-face {
  font-family: 'Untitled Bold';
  src: url('fonts/untitled-sans-test-bold.woff') format('woff');
}


/*======================================
  BASE STYLES
  ======================================*/

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(74, 31, 91);
  color: #fff;
  font-family: 'Untitled Regular';
  font-size: 1.25em;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  letter-spacing: -0.025rem;
  line-height: 2.2rem;
}

h1 {
  margin: 45px 0 0;
  /* padding: 0; */
  font-family: 'Untitled Bold';
  font-size: 4.5rem;
  letter-spacing: -0.2rem;
  line-height: 4.6rem;
  overflow: visible;
}

h2 {
  margin: 0;
  padding: 0 0 30px 0;
  font-family: 'Untitled Bold';
  font-size: 2.3rem;
  letter-spacing: -0.05rem;
}

h3 {
  font-family: 'Untitled Bold';
  letter-spacing: -.03rem;
  font-size: 1.8rem;
}

h3 {
  font-family: 'Untitled Bold';
  letter-spacing: -.03rem;
  font-size: 1.8rem;
}

h4 {
  font-family: 'Untitled Bold';
  font-size: 1rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

/*======================================
  LAYOUT STYLES
  ======================================*/

header {
  background: linear-gradient(to right, rgba(74,31,91,0.3), rgba(74,31,91,0.3)),
              url('img/coop/coop-header.jpg') no-repeat center;
  background-size: cover;
  padding: 40px 8% 32px;
}

img {
  width: 100%;
  display: block;
}

.container,
.intro {
  padding: 0px 8%;
}

.blurb h4 {
  margin: 14% 0 25px;
  color: #9e6bae;
}

.scope ul {
  margin: 25px 0 16%;
}

.scope li {
  font-family: 'Untitled Medium';
  font-size: 0.7em;
  display: inline-block;
  padding: 0 10px 5px 0;
  color: #9e6bae;
}

.grid-wrap {
  display: flex;
  flex-wrap: wrap;
}

.logo-4x4 {
  width: 50%;
}

.callout-blurb {
  /* font-size: 1.6rem; */
  padding: 10% 8%;
}

.callout-blurb h2 {
  text-align: center;
}

.credits {
  margin: 24px 8% 0;
  padding: 0 0 25px;
  /* font-family: 'Untitled Regular';
  font-size: 0.5rem;
  line-height: 1.15rem; */
  text-align: center;
  border-bottom: 1px solid #9e6bae;
}

.credits p {
  font-size: 0.75rem;
  letter-spacing: 0.02rem;
  line-height: 1.15rem;
  padding: 0;
}

.cta-email {
  padding: 14% 8% 18%;
  text-align: center;
  margin: auto;
}

.cta img {
  height: 35px;
  width: 35px;
  margin: 20px auto 0;
}

/* .email {
  padding: 0 8% 22%;
  text-align: center;
} */

.email a.button {
  font-family: 'Untitled Bold';
  font-size: 1.8rem;
  letter-spacing: -0.05rem;
  display: inline-block;
  padding: 20px 65px;
  margin: 30px 0 20px;
  border: 4px solid #9e6bae;
  border-radius: 500px;
}

.email p {
  font-size: 1.0rem;
}

.email p a.about-link {
  color: #9e6bae;
}

.back,
.next {
  width: 100%;
  background-color: #000;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgba(30,30,30,0.9), rgba(30,30,30,0.9)),
              url(img/coop/coop-header.jpg) no-repeat center;
  background-size: cover;
}

.back h3,
.next h3 {
  margin: 0 20px;
}

.back img,
.next img {
  height: 35px;
  width: 35px;
}


/*======================================
  NAVIGATION
  ======================================*/

.logo img{
width: 150px;
}

nav {
  margin: 0;
  padding: 0;
  font-family: 'Untitled Medium';
}

nav li {
  font-size: 1.25rem;
  padding-bottom: 18px;
}


/*======================================
  FOOTER
  ======================================*/

footer {
  background-color: rgb(30,30,30);
  padding: 30px 0 40px;
  text-align: center;
  font-size: 0.75rem;
  font-family: 'Untitled Regular';
}


/*======================================
  FLOATS
  ======================================*/

/* Logo/Nav Float */

.logo {
  width: 63%;
  float: left;
}

nav {
  width: 21%;
  float: right;
}

/* Float Clearfix */

.float:after {
  content: "";
  display: table;
  clear: both;
}


/*======================================
  MEDIA QUERIES
  ======================================*/

@media only screen and (min-width: 680px) {

.cta-email {
  padding: 10% 8% 12%;
  max-width: 800px;
}

/* Back/Next Float */

.back {
  width: 50%;
  float: left;
}

.next {
  width: 50%;
  float: right;
}

}


@media only screen and (min-width: 900px) {

.cta-email {
  padding: 7% 8% 10%;
  max-width: 1200px;
}

/* .cta {
  text-align: left;
  padding-right: 5%;
} */

/* .cta img {
  display: none;
} */

/* .cta p {
  margin: 0;
} */

/* Callout Float */

.callout-image {
  width: 50%;
  float: left;
}

.callout-blurb {
  width: 50%;
  float: right;
}

/* Email Float */

/* .cta {
  width: 65%;
  float: left;
}

.email {
  width: 35%;
  float: right;
} */

}
